.nav {

  top: 0;
  width: 100%;
  padding: 10px 20px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}

.nav_black {
  background-color: #111;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}


.nav-search {
  flex: 1;
  display: flex;
  justify-content: center;
 object-fit: contain;
}

.nav-search input {


  padding: 8px;
  border-radius: 5px;
  border: none;
}

.nav_avatar {
  height: 40px;
  cursor: pointer;
}

.nav_logo{
    height: 40px;
  cursor: pointer;
}

.link {
  color: white;
  text-decoration: none;
  margin-right: 30px;
  cursor: pointer;
}


.logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #ff0000;
  margin-right: 30px;
  text-decoration: none;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.logo:hover {
  color: #cc0000;
}